<ion-header>
  <ion-toolbar>
    <ion-title>{{contact.value.prenom}} {{contact.value.nom}}</ion-title>
    <ion-icon name="close" slot="end" class="ion-padding" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{contact.value.prenom}} {{contact.value.nom}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <ion-item href="tel:{{contact.value.tel1}}" class="ion-activated">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Téléphone</ion-label>
        <ion-label>{{contact.value.tel1}}</ion-label>
     </ion-item>
     <ion-item href="tel:{{contact.value.tel2}}" class="ion-activated">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Mobile</ion-label>
      <ion-label>{{contact.value.tel2}}</ion-label>
   </ion-item>
   <ion-item>
    <ion-label>{{contact.value.contactCategory}}</ion-label>

   </ion-item>
   <ion-item>

    <ion-label position="floating">Catégories</ion-label>
    <ion-select [(ngModel)]="contactCategory">
        <ion-select-option value="Amis">Amis</ion-select-option>
        <ion-select-option value="Famille">Famille</ion-select-option>
        <ion-select-option value="Professionnel">Professionnel</ion-select-option>
        <ion-select-option value="Autre">Autre</ion-select-option>


    </ion-select>
  </ion-item>
   <ion-item href="#" class="ion-activated">
    <ion-icon name="calendar-number-outline" slot="start"></ion-icon>

    <ion-label>Date de création</ion-label>
    <ion-label>{{contact.value.dateCreation  | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
 </ion-item>
 <ion-item href="#" class="ion-activated">
  <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
  <ion-label>Date de Mise à jour</ion-label>
  <ion-label>{{contact.value.dateMaj  | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
</ion-item>




    </ion-card-content>




  </ion-card>



</ion-content>
