<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter un nouveau contact</ion-title>
    <ion-icon name="close" slot="end" class="ion-padding" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <ion-card>
    <ion-item>   
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input [(ngModel)]="prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone mobile</ion-label>
      <ion-input [(ngModel)]="tel1" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone fix</ion-label>
      <ion-input [(ngModel)]="tel2" type="number"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label> Catégorie</ion-label>
     <span>{{categorySelectedCategory}}</span>
   </ion-item>

   <ion-item>
     <ion-chip  *ngFor="let tag of categories; let i = index" outline="true" (click)="selectCategory(i)">
       <ion-row>
         <ion-col size="12">
          <ion-label color="primary">{{tag}}</ion-label>

         </ion-col>
       </ion-row>
     </ion-chip>
     </ion-item>
    <ion-button class="ion-margin" expand="block" (click)="addContact()"> Enregistrer </ion-button>
  </ion-card>

</ion-content>
