<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un nouveau contact</ion-title>
    <ion-icon name="close" slot="end" class="ion-padding" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input [(ngModel)]="prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone mobile</ion-label>
      <ion-input [(ngModel)]="tel1" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone fix</ion-label>
      <ion-input [(ngModel)]="tel2" type="number"></ion-input>
    </ion-item>
    <ion-button class="ion-margin" expand="block" (click)="addContact()"> Enregistrer </ion-button>
  </ion-card>

</ion-content>
